<%= render :partial => "/dashboard/assign.html.erb"%>
<%if notice !=nil%>
<p class="alert-tracker alert-success-tracker"><%= notice %></p>
<%end%>



<h1 style="text-align:center;">All Tickets</h1>
<h5 style="text-align:center;">Export:
  <%= link_to "CSV", dashboard_path(format: "csv") %> |
  <%= link_to "Excel", dashboard_path(format: "xls") %></h5>

<div class="dashb-dynamic">
<%= render :partial => "dashb"%>
</div>
