
  <div class="form">
  <p id="notice"><%= notice %></p>
  <h3>LOG IN</h3>
<%= form_for(:session, url: login_path) do |f| %> 
  <%= f.email_field :email, :placeholder => "Email", class: "tt" %> 
  <%= f.password_field :password, :placeholder => "Password", class: "tt" %> <br>
  <%= f.submit "Log in", class: "btn-submit-one" %>
<% end %>
<p>New?-<%= link_to "SignUp",'signup'%></p>
<p><a href="/password_reset">Forgot Password</a></p>
</div>
