
<h1 style="text-align:center;">All Pending Tickets</h1>

<a class="btn btn-xs btn-default-tracker" role="botton" href="#">Pending: <%=@trackers.count%></a>



<div style="clear:both"></div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th colspan="2">Ticket ID</th>
      <th>Description</th>
      <th>Created By</th>
      <th>Created Date</th>
      <th>ETA</th>
      <th>Finished</th>
      <th>Request Type</th>
      <th>No. of Commits</th>
      <th>Staging Group</th>
      <th>Config Owner</th>
      <th>Bugs</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.created_at.strftime("%d-%m-%y")%></td>
         <td><a href="/trackers/<%=tracker.id%>"><%=tracker.ticket_id%></a><td width="20px;">   <a target="_blank" href="https://bankbazaarmail.zendesk.com/agent/tickets/<%= tracker.ticket_id%>">Open</a></td></td>
         <td ><%= tracker.disc%></td>
        <td ><%= tracker.owner %></td>
                   <td ><%if tracker.created!=""%><%= DateTime.parse(tracker.created).strftime("%b %d, %Y %H:%M")%><%end%></td>
        <td ><%= tracker.eta%></td>
        <td ><%if tracker.finished!=""%>
          <%= DateTime.parse(tracker.finished).strftime("%b %d, %Y %H:%M")%><%end%></td>
        <td ><%= tracker.tow%></td>
        <td ><%= tracker.noc%></td>
        <td ><%= tracker.staging%></td>
        <td><%= User.where("id=?", tracker.uid).pluck("name").first.capitalize%></td>
        <td ><span class="red"><%if tracker.bugs != nil%><%=link_to tracker.bugs, qc_remarks_path(:id=>tracker.id)%><%end%></span></td>
        
       
        <td >
           <%if  tracker.status=="2" or tracker.status==nil %>
           <%= button_to 'Send QC', qc_path(:id=>tracker.id), :method => :post, :remote=>true,class: "btn btn-xs btn-primary" %>
           <%elsif tracker.status == "1"%>
           <span class="blue">In QC</span>
           <%elsif tracker.status == "2"%>
           <span class="red">Error</span>
           <%elsif tracker.status == "3"%>
           <span class="orange">Yet to Push</span>
           <%elsif tracker.status == "4"%>
           <span class="green">Pushed</span>
           <%elsif tracker.status == "5"%>
           <span class="green">Live !</span>
           <%end%>
         </td>
       <!--  <td><%#= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
