<%= form_for(@tracker) do |f| %>
  <% if @tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracker.errors.count, "error") %> prohibited this tracker from being saved:</h2>

      <ul>
      <% @tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.number_field :ticket_id, :placeholder=>"Ticket ID" ,class: "one" %>
  </div>
  <div class="field">
    
    <%= f.text_field :created, :placeholder=>"Created", class: "one" %>
  </div>
  <div class="field">
    <%= f.text_field :eta, :placeholder=>"ETA", class: "one" %>
  </div>
  <div class="field">
    <%= f.text_field :finished, :placeholder=>"Finished", class: "one" %>
  </div>
  <div class="field">
    <%= f.text_field :owner, :placeholder=>"T-Owner",class: "one"%>
  </div>
  <div class="field">
    <%=f.select :tow, options_for_work,{}, class: "one"%>
  </div>
  <div class="field">
    <%= f.number_field :noc,:placeholder=>"Commits", class: "one"%>
  </div>
  <div class="field">
    <%= f.text_field :staging,:placeholder=>"Staging", class: "one"%>
  </div>
  
  <div class="field">
    <%= f.text_area :disc,:placeholder=>"Description", class: "one"%>
  </div>

  <div class="field">
    <%= f.hidden_field :uid, :value => current_user.id, class: "one"%>
  </div>
  <div style="clear:both"></div>
  <div class="actions">
    <%= f.submit "Save"%>
  </div>
<% end %>
