<%= form_for(@tracker) do |f| %>
 
  <%= tinymce_assets %>
  <%=f.text_area :qc_remarks, :class => "tinymce",:cols => 10 %>
  <%= tinymce %><br />
  <div style="clear:both"></div>
  <div class="actions">
    <%= f.submit "Save"%>
  </div>
<% end %>
