<script>
function goBack() {
    window.history.back();
}
</script>

<!-- <div class="comments">
	<%#if @tags != nil%>
	<%=@tags%>
	<%#else%>
	<span>&lt;p&gt;/&lt;/p&gt; - <%=@p%>/<%=@cp%></span>
	<span>&lt;li&gt;/&lt;/li&gt; - <%=@li%>/<%=@cli%></span>
	<span>&lt;ol&gt;/&lt;/ol&gt; - <%=@ol%>/<%=@col%></span>
	<span>&lt;ul&gt;/&lt;/ul&gt; - <%=@ul%>/<%=@cul%></span>
	<span>&lt;table&gt;/&lt;/table&gt; - <%=@tab%>/<%=@tab%></span>
	<span>&lt;tr&gt;/&lt;/tr&gt; - <%=@tr%>/<%=@ctr%></span>
	<span>&lt;td&gt;/&lt;/td&gt; - <%=@td%>/<%=@ctd%></span>
	<%#end%>
</div> -->

<div class="comments">
	<%@tags.each do |tag|%>
	<%=tag%>
	<%end%>
</div>
<div class="half-one">
	<button onclick="goBack()", class="btn-submit">Go Back  </button> <br><br>
<textarea id="textarea2" style="width:100%; height:493px;"><%=@bundle_out%></textarea>
<button onclick="goBack()", class="btn-submit">Go Back</button>
</div>


