<div class="half"><table class="table table-bordered">
<thead>
	<tr>
	<th colspan="3"><strong>Total Tickets:<%=@trackers.count%></strong></th></tr>
	<tr>
		<th><strong>Inbound: <%=@early%></strong></th>
		<th><strong>Neutral: <%=@ontime%></strong></th>
		<th><strong>Outbound: <%=@delay%></strong></th>
	</tr>
</thead>
</table>
</div>



 <h2 style="text-align:center;">
  
         <%@mon = { 0=> "December", 1=>"January", 2=>"Februrary", 3 =>"March", 4=>"April", 
                    5=>"May", 6=>"June", 7=>"July", 8=>"August", 
                    9=>"September", 10=>"October", 11=>"November", 12=>"December", 13=>"January"}%>

       <%n= @date.month%>
       <%= @mon[n-1]%>
      <%=  link_to "<<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %> 
      <%=  @date.strftime("%B-%Y").upcase %>
      <%= link_to ">>", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %> 
      <%= @mon[n+1]%>
    
  </h2>

  <h5 style="text-align:center;">
  Export:
  <%= link_to "CSV", status_path(format: "csv") %> |
  <%= link_to "Excel", status_path(format: "xls") %>
</h5>

<a class="btn btn-xs btn-default-tracker" role="botton" href="#">Total: <%=@dat.count%></a>
  

<a class="pull-right btn btn-xs btn-default-tracker" role="botton" href="#">Outbound: <%=@this_month_delay%></a>

<a class="pull-right btn btn-xs btn-default-tracker" role="botton" href="#">Neutral: <%=@this_month_neutral%></a>

<a class="pull-right btn btn-xs btn-default-tracker" role="botton" href="#">Inbound: <%=@this_month_early%></a>
 


<table class="table table-bordered">
  <thead>
  	
    <tr>
      <th>Date</th>
      <th>Ticket ID</th>
      <th>Created By</th>
      <th>Created Date</th>
      <th>ETA</th>
      <th>Finished</th>
      <th>Request Type</th>
      <th>No. of Commits</th>
      <th>Description</th>
      <th>No. of Bugs</th>
      <th>Status</th>
      
    </tr>
  </thead>

  <tbody>
    <% @dat.each do |tracker| %>
      <tr>
        <td><%=tracker.created_at.strftime("%d-%m-%y")%></td>
        <td ><%=tracker.ticket_id%></td>
        <td ><%= tracker.owner%></td>
        <td ><%if tracker.created!=""%><%= DateTime.parse(tracker.created).strftime("%b %d, %Y %H:%M")%><%end%></td>
        <td ><%=  tracker.eta%></td>
        <td ><%=  DateTime.parse(tracker.finished).strftime("%b %d, %Y %H:%M")%></td>
        <td ><%=   tracker.tow%></td>
        <td ><%=  tracker.noc%></td>
        <td ><%=  tracker.disc%></td>
        <td ><span class="red"><%if tracker.bugs != nil%><%=link_to tracker.bugs, qc_remarks_path(:id=>tracker.id)%><%end%></span></td>
        <td >
           <%if tracker.status == "1"%>
           <span class="blue">In QC</span>
           <%elsif tracker.status == "2"%>
           <span class="red">Error</span>
           <%elsif tracker.status == "3"%>
           <span class="orange">Yet to Push</span>
           <%elsif tracker.status == "4"%>
           <span class="green">Pushed</span>
           <%elsif tracker.status == "5"%>
           <span class="green">Live !</span>
           <%end%>
         </td>
        
      </tr>
    <% end %>
  </tbody>
</table>