<!--<%#= form_tag url_for(:controller=>"trackers",:action =>"posttestcod")  do %>
<%#= form_tag url_for(:controller=>"trackers",:action =>"testcod", remote: true) ,:method=>"post" do %>
	<textarea contenteditable='true', style="width:800px; height:200px;" name="content" ></textarea>
	 <%#= submit_tag 'Bundle', :disable_with => 'Please wait...'%>
	<%#end%>


<div id="category">
  <%#=render 'output'%>
</div>-->

<div class="half-one">
	
<%= form_tag url_for(:controller=>"trackers",:action =>"posttestcod")  do %>
<%= check_box_tag 'accept'%>
<%= label_tag(:allowed, "Allow <p> inside <td>") %>
<%= tinymce_assets %>

<%= text_area_tag :content, "", :class => "tinymce", :rows => 28, :cols => 10 %>

<%= tinymce %>
 <%= submit_tag 'Clean', class: "btn-submit"%>
	<%end%>
</div>