<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag %>
  <title>Tickets Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <script type="text/JavaScript">
<!--
function timedRefresh(timeoutPeriod) {
	setTimeout("location.reload(true);",timeoutPeriod);
}

window.onload = timedRefresh(10000);

//   -->
</script>
</head>
<body>
	<div class="top-nav">
	
	<%if current_user%>
	<div class="top-left"><a href="/home">Home</a></div>
	<div class="top-left"><a href="/trackers">All Tickets</a></div>
	<div class="top-left"><a href="/status">Status</a></div>
	<div class="top-left"><a href="/charts">Charts</a></div>
	<%if current_user.admin? || current_user.dev?%>
	<div class="top-right"><a href="/users">Users</a></div>
	<div class="top-left"><a href="/dashboard">Dashboard</a></div>
	<%end%>
	<%if current_user.dev?%>
	<div class="top-left"><a href="/quality_check">QC</a></div>
	<%end%>
	<div class="top-right"><%= link_to "Logout", logout_path, method: "delete" %> </div>
	
	<%else%>
	<div class="top-right"><a href="/login">Login</a></div>
	<div class="top-right"><a href="/signup">Signup</a></div>
	<%end%>
	
	
<%#= form_tag url_for(:controller=>"application",:action =>"search") ,:method=>"get" do %>
	<!-- <input style="width:120px; float:right;" name="ticket_id" ></input>
	<%#end%> -->

	<div style="clear:both"></div></div><br>

<%= yield %>

</body>
</html>
